/* Reset für die Standard-Stile */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }

  .silas {
    font-family: 'Phudu', cursive;
    background-color: #333;
    color: #2bcc0f;
  }

  .dev {
    font-family: 'Phudu', bold;
    font-size: larger;
    color: aqua;
  }

  .button:hover {
    text-decoration: underline;
    font-family: "Roboto", sans-serif;
    }

  .button {
    background-color: #333;
    padding: 8px 30px;
    color: #333;
    text-shadow: 2px 2px gray;
    border-radius: 8px;
    box-shadow: 5px 2px 15px rgba(0, 0, 0, 0.3);
    font-family: "Roboto", sans-serif;
  }
  
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Header-Stil */
  header {
    background-color: #333;
    color: white;
    padding: 10px 0;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
  }
  
  /* Hero-Bereich */
  .main {
    background-color: gray;
    background-size: cover;
    text-align: center;
    padding: 100px 0;
    color: white;
  }
  
  .download_button {
    display: inline-block;
    background-color: #2bcc0f;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
  }
  
  .platzhalter {
    padding: 50px 0;
    text-align: center;
    background-color: gray;
  }
  
  /* Über Uns-Bereich */
  .about {
    background-color: gray;
    padding: 50px 0;
    text-align: center;
  }
  
  /* Kontakt-Bereich */
  .contact {
    background-color: gray;
    padding: 50px 0;
    text-align: center;
  }
  
  .contact a {
    color: #FFA500;
  }
  
  /* Footer-Stil */
  footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
  }
  
  /* Responsives Design */
  @media (max-width: 768px) {
    nav ul {
      flex-direction: column;
    }
  
    nav li {
      margin: 10px 0;
    }
  }
  @media (max-width: 768px) {
    nav ul {
      flex-direction: column;
    }
  
    nav li {
      margin: 10px 0;
    }
  
    .hero {
      padding: 50px 0;
    }
  
    .hero h1 {
      font-size: 24px;
    }
  
    .cta-button {
      font-size: 14px;
    }
  
    .products {
      padding: 30px 0;
    }
  
    .about {
      padding: 30px 0;
    }
  
    .contact {
      padding: 30px 0;
    }
  }
  .cta-button {
    display: inline-block;
    background-color: #FFA500;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  /* Hover-Effekt für Button */
  .cta-button:hover {
    background-color: #FF7F00;
    color: #fff;
  }