body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;

    background-image: url("bild.png");
    
}
h1 {
    color: #ff0000;
}

h1:hover {
    color: #5664;
}

a {
    color: #ff0000;
    font-weight: bold;
    text-decoration: none;
}
img {
    max-width: 300px;
    border-radius: 5px;
    margin: 45px;
}
